{% block army %}
    <div>
        <h2>Army 1</h2>
        <div>
            <h4>Units</h4>
            <ul>
                <li>{{ army1.getP1_warrior }}</li>
                <li>{{ army1.getP1_archer }}</li>
                <li>{{ army1.getP1_mage }}</li>
            </ul>
        </div>
    </div>
{% endblock %}