<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BattleSkip</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Battle Skip</h1>
        <a href="{{path('battleskip_play')}}">Play</a>
        {% block javascripts %}{% endblock %}
    </body>
</html>
