<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BattleSkip</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Battle Skip</h1>
        <h2>Player Online</h2>

        <hr>





        
        {% block javascripts %}{% endblock %}
    </body>
</html>
